body {
  max-width: 600px;
  margin: 3% auto;
  padding: 20px;
}

.brand {
  text-align: center;
  padding: 0;
  margin: 0 auto 2rem;
  border-bottom: 1px dotted #dddddd;
  max-width: 80%;
}
.brand .logo {
  width: 5rem;
}
.brand h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.brand .tag {
  display: inline-block;
  margin: -.5rem 0 2rem;
  padding: 0 5px;
  border-radius: 5px;
  text-decoration: none !important;
  font-family: monospace;
  background: #334a5e;
  color: #dddddd;
}

/* Override */
code {
  padding: 0;
}
hr {
  border:1px solid #eeeeee;
  margin: 1rem auto;
}
p {
  margin: 1rem 0;
}

/* Github Ribbon */
.ribbon {
  /* positioning */
  position: fixed;
  z-index: 2;
  width: 60vw;
  text-align: center;
  padding: 5px 45px;
  /* top right of the page */
  top: 50px;
  right: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  /* effects with some shadow */
  box-shadow: 0 0 0 3px #1e1c14, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #1e1c14;
  color: #ffffff !important;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none !important;
  font-weight: bold;
  /* ribbon effects */
  border: 2px dotted #ffffff;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  letter-spacing: .5px;
}