---
title: 'Basic | Vormulir'
v-start: '{{'
v-end: '}}'
---

<div id="vue-app">
  <h1>Basic</h1>
  <p>Basic usage like this will generating a default complex error messages.</p>
  <div class="divider"></div>
  <form @submit="handleSubmit">
    <div class="form-group">
      <label class="form-label" for="input-name">Name</label>
      <input
        class="form-input"
        type="text"
        id="input-name"
        placeholder="Name"
        v-model="form.field.name">
        <div class="form-input-hint">{{ v-start }} errors.name.required && errors.name.required.message {{ v-end }}</div>
        <div class="form-input-hint">{{ v-start }} errors.name.maxLength && errors.name.maxLength.message {{ v-end }}</div>
    </div>
    <div class="form-group">
      <label class="form-label" for="input-hobby">Hobby</label>
      <input
        class="form-input"
        type="text"
        id="input-hobby"
        placeholder="Hobby"
        v-model="form.field.hobby">
        <div class="form-input-hint">{{ v-start }} errors.hobby.required && errors.hobby.required.message {{ v-end }}</div>
        <div class="form-input-hint">{{ v-start }} errors.hobby.minLength && errors.hobby.minLength.message {{ v-end }}</div>
      </div>
    <div class="form-group">
      <button type="submit" class="btn" :class="buttonClass">Submit</button>
    </div>
  </form>
  
  <br>
  
  <pre class="result">{{ v-start }} $data {{ v-end }}</pre>
</div>

<script type="module">
  import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'
  import Vormulir from 'https://cdn.jsdelivr.net/npm/vormulir@1.0.0/dist/core.js'

  const vormulir = new Vormulir([
    'name',
    'hobby'
  ])

  const rules = {
    name: {
      required: "Name is required",
      maxLength: {
        value: 10,
        message: "Max. name length is 10"
      }
    },
    hobby: {
      required: "Hobby is required",
      minLength: {
        value: 3,
        message: "Min. hobby length is 3"
      }
    }
  }

  new Vue({
    el: '#vue-app',
    data () { 
      return {
        ...vormulir.state
      }
    },
    computed: {
      buttonClass () {
        return this.errors.passes ? 'btn-success' : 'btn-error'
      }
    },
    methods: {
      handleSubmit (e) {
        e.preventDefault()
        const validate = vormulir.validate(this.form.field, rules)
        if (validate.passes) {
          console.log('%c Passsed !', 'background: #002708; color: lime')
        } else {
          console.error('Fail !')
        }
      }
    }
  })
</script>