<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Flatten Message | Vormulir</title>
  
  <link rel="stylesheet" href="/css/spectre.min.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <a href="https://github.com/bramaudi/vormulir" class="ribbon">Fork me on GitHub</a>
  <div class="container">
    
<div id="vue-app">
  <h1>Flatten Message</h1>
  <p>We can more simplify our errors message output with <code>flattenMessage()</code> function like so.</p>
  <div class="divider"></div>
  <form @submit="handleSubmit">
    <div class="form-group" :class="{ 'has-error': errors.name }">
      <label class="form-label" for="input-name">Name</label>
      <input
        class="form-input"
        type="text"
        id="input-name"
        placeholder="Name"
        v-model="form.field.name">
        <div class="form-input-hint" v-if="errors.name">{{ errors.name }}</div>
    </div>
    <div class="form-group" :class="{ 'has-error': errors.hobby }">
      <label class="form-label" for="input-hobby">Hobby</label>
      <input
        class="form-input"
        type="text"
        id="input-hobby"
        placeholder="Hobby"
        v-model="form.field.hobby">
        <div class="form-input-hint" v-if="errors.hobby">{{ errors.hobby }}</div>
      </div>
    <div class="form-group">
      <button type="submit" class="btn" :class="buttonClass">Submit</button>
    </div>
  </form>
  
  <br>
  
  <pre class="result">{{ $data }}</pre>
</div>

<script type="module">
  import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'
  import Vormulir from 'https://cdn.jsdelivr.net/npm/vormulir/dist/core.js'

  const vormulir = new Vormulir([
    'name',
    'hobby'
  ])

  const rules = {
    name: {
      required: "Name is required",
      maxLength: {
        value: 10,
        message: "Max. name length is 10"
      }
    },
    hobby: {
      required: "Hobby is required",
      minLength: {
        value: 3,
        message: "Min. hobby length is 3"
      }
    }
  }

  new Vue({
    el: '#vue-app',
    data () { 
      return {
        ...vormulir.state
      }
    },
    computed: {
      buttonClass () {
        return this.errors.passes ? 'btn-success' : 'btn-error'
      }
    },
    methods: {
      handleSubmit (e) {
        e.preventDefault()
        const validate = vormulir.validate(this.form.field, rules)
        if (validate.passes) {
          console.log('%c Passsed !', 'background: #002708; color: lime')
        } else {
          console.error('Fail !')
        }
        this.errors = vormulir.flattenMessage(validate)
      }
    }
  })
</script>
  </div>
  <script src="/js/prism.js"></script>
</body>
</html>